<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecommerce</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/line-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">e<span>commerce</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="d-flex form ms-auto">
                        <div class="input-group">
                            <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                            <span class="input-group-text"><i class="la la-search la-fw"></i></span>
                        </div>
                    </form>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        <a class="nav-link" aria-current="" href="#"><i class="la la-heart la-2x la-fw"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link shopping-bag" aria-current="" href="#">
                                <i class="la la-shopping-bag la-2x la-fw"></i>
                                <span class="position-absolute top-1 start-94 translate-middle badge rounded-pill">
                                    0
                                    <span class="visually-hidden">In cart List</span>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#"><i class="la la-user la-2x la-fw"></i></a>
                        </li>
                        
                    </ul>                
                </div>
            </div>
        </nav>
    </header>
    <div class="main-content">
        <br><br><br>
        <div class="product">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                        <div class="card" style="width: 100%;">
                            <img src="img/p1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="review">
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star-half-o la-fw"></i>
                                  <span class="float-end">(5.0) 25 Reviews</span>
                              </p>
                              <!-- <p class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the card's content.</small></p> -->
                              <p class="price"><b>$150</b> 
                                <a href="#" class="float-end"><i class="la la-shopping-cart la-lg "></i></a>
                                <a href="#" class="float-end"><i class="la la-heart-broken la-lg "></i></a>
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                        <div class="card" style="width: 100%;">
                            <img src="img/p1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="review">
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <span class="float-end">(5.0) 25 Reviews</span>
                              </p>
                              <!-- <p class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the card's content.</small></p> -->
                              <p class="price"><b>$150</b> 
                                <a href="#" class="float-end"><i class="la la-shopping-cart la-lg "></i></a>
                                <a href="#" class="float-end"><i class="la la-heart la-lg "></i></a>
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                        <div class="card" style="width: 100%;">
                            <img src="img/p1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="review">
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <span class="float-end">(5.0) 25 Reviews</span>
                              </p>
                              <!-- <p class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the card's content.</small></p> -->
                              <p class="price"><b>$150</b> 
                                <a href="#" class="float-end"><i class="la la-shopping-cart la-lg "></i></a>
                                <a href="#" class="float-end"><i class="la la-heart-broken la-lg "></i></a>
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                        <div class="card" style="width: 100%;">
                            <img src="img/p1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="review">
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <span class="float-end">(5.0) 25 Reviews</span>
                              </p>
                              <!-- <p class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the card's content.</small></p> -->
                              <p class="price"><b>$150</b> 
                                <a href="#" class="float-end"><i class="la la-shopping-cart la-lg "></i></a>
                                <a href="#" class="float-end"><i class="la la-heart-broken la-lg "></i></a>
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                        <div class="card" style="width: 100%;">
                            <img src="img/p1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="review">
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <span class="float-end">(5.0) 25 Reviews</span>
                              </p>
                              <!-- <p class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the card's content.</small></p> -->
                              <p class="price"><b>$150</b> 
                                <a href="#" class="float-end"><i class="la la-shopping-cart la-lg "></i></a>
                                <a href="#" class="float-end"><i class="la la-heart-broken la-lg "></i></a>
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                        <div class="card" style="width: 100%;">
                            <img src="img/p1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="review">
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <span class="float-end">(5.0) 25 Reviews</span>
                              </p>
                              <!-- <p class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the card's content.</small></p> -->
                              <p class="price"><b>$150</b> 
                                <a href="#" class="float-end"><i class="la la-shopping-cart la-lg "></i></a>
                                <a href="#" class="float-end"><i class="la la-heart-broken la-lg "></i></a>
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                        <div class="card" style="width: 100%;">
                            <img src="img/p1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="review">
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <span class="float-end">(5.0) 25 Reviews</span>
                              </p>
                              <!-- <p class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the card's content.</small></p> -->
                              <p class="price"><b>$150</b> 
                                <a href="#" class="float-end"><i class="la la-shopping-cart la-lg "></i></a>
                                <a href="#" class="float-end"><i class="la la-heart-broken la-lg "></i></a>
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                        <div class="card" style="width: 100%;">
                            <img src="img/p1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="review">
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <i class="la la-star la-fw"></i>
                                  <span class="float-end">(5.0) 25 Reviews</span>
                              </p>
                              <!-- <p class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the card's content.</small></p> -->
                              <p class="price"><b>$150</b> 
                                <a href="#" class="float-end"><i class="la la-shopping-cart la-lg "></i></a>
                                <a href="#" class="float-end"><i class="la la-heart-broken la-lg "></i></a>
                            </p>
                            </div>
                        </div>
                    </div>                  
                </div>
              </div>
        </div>
    </div>
    <footer class="footer">
        <br>
        <br>    
        <hr>
        <p class="text-center">&copy;2021 All right reserved by auroratec.net</p>
    </footer>

    <script src="js/bootstrap.min.js"></script>
</body>
</html>